```
   # Ignore CSV files
   *.csv
   
   # Ignore data folders
   data/
   Data/
   
   # Ignore SSMS temp files
   *.bak

   # Ignore .vs temp files
   .vs/ 
   
   # Ignore CSV Location text files
   _CSV_LOCATIONS.txt
